name: zapstore
description: The permissionless app store
publish_to: 'none'

version: 0.1.8+18

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_data: ^2.0.0-rc3
  hooks_riverpod: ^2.5.3
  json_annotation: ^4.9.0
  flutter_hooks: ^0.20.4
  build_runner: ^2.4.8
  collection: ^1.18.0
  path_provider: ^2.1.2
  crypto: ^3.0.3
  go_router: ^14.0.2
  permission_handler: ^11.3.1
  path: ^1.9.0
  http: ^1.2.1
  async_button_builder: ^3.0.0+1
  android_package_manager: ^0.7.1
  url_launcher: ^6.2.5
  purplebase: ^0.2.0
  sqlite3_flutter_libs: ^0.5.20
  flutter_markdown: ^0.7.1
  cached_network_image: ^3.3.1
  gap: ^3.0.1
  auto_size_text: ^3.0.0
  intl: ^0.18.1
  device_info_plus: ^10.1.0
  flutter_layout_grid: ^2.0.6
  signer_plugin: ^1.0.0
  skeletonizer: ^1.1.2+1
  flutter_phoenix: ^1.1.1
  percent_indicator: ^4.2.3
  toastification: ^2.0.0
  system_info2: ^4.0.0
  badges: ^3.1.2
  convert: ^3.1.1
  async: ^2.11.0
  app_links: ^6.3.2
  dart_emoji: ^0.2.0+2
  remove_markdown: ^0.0.2
  install_plugin: ^2.1.0
  shared_preferences: ^2.3.2
  background_downloader: ^8.8.0
  mutex: ^3.1.0
  easy_image_viewer: ^1.5.1

dependency_overrides:
  purplebase:
    # path: ../purplebase
    git:
      url: https://github.com/purplebase/purplebase
      ref: a6a4dbf97faa23f827dbe8158cb110e961827ddc
  flutter_data:
    git:
      url: https://github.com/zapstore/flutter_data
      ref: d7376cf1eac8e9c563d4c6eed8e567adc877415c
  signer_plugin:
    git:
      url: https://github.com/chebizarro/flutter-signer-plugin
      ref: baa5b2fcf7ba8db606a76794582348a1403438b0

dev_dependencies:
  flutter_test:
    sdk: flutter
  json_serializable: ^6.7.1
  flutter_lints: ^4.0.0
  icons_launcher: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/logo.png
    - assets/images/logo-bg.png
    - assets/images/logo-fg.png

  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Light.ttf
          weight: 300
        - asset: assets/fonts/Inter-Regular.ttf
        - asset: assets/fonts/Inter-Italic.ttf
          style: italic
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700

icons_launcher:
  image_path: "assets/images/logo.png"
  platforms:
    android:
      enable: true
      image_path: "assets/images/logo.png"
      notification_image: "assets/images/logo.png"
      adaptive_background_image: "assets/images/logo-bg.png"
      adaptive_foreground_image: "assets/images/logo-fg.png"
      adaptive_monochrome_image: "assets/images/logo-bw.png"
    macos:
      enable: true
      image_path: "assets/images/logo.png"
