name: zapstore
description: The permissionless app store
publish_to: 'none'

version: 0.1.0

environment:
  sdk: '>=3.3.0 <4.0.0'
  
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_data: ^2.0.0-rc3
  hooks_riverpod: ^2.4.9
  json_annotation: ^4.8.1
  flutter_hooks: ^0.20.4
  build_runner: ^2.4.8
  collection: ^1.18.0
  path_provider: ^2.1.2
  crypto: ^3.0.3
  go_router: ^14.0.2
  permission_handler: ^11.3.1
  path: ^1.9.0
  http: ^1.2.1
  async_button_builder: ^3.0.0+1
  android_package_manager: ^0.7.1
  flutter_styled_toast: ^2.2.1
  url_launcher: ^6.2.5
  device_apps: ^2.2.0
  purplebase: ^0.1.0
  sqlite3_flutter_libs: ^0.5.20
  flutter_markdown: ^0.7.1
  cached_network_image: ^3.3.1
  gap: ^3.0.1
  auto_size_text: ^3.0.0
  intl: ^0.18.1
  device_info_plus: ^10.1.0
  external_app_launcher: ^4.0.0
  install_plugin: ^2.1.0

dependency_overrides:
  purplebase:
    git:
      url: https://github.com/purplebase/purplebase
      ref: f6a6a7
  flutter_data:
    git:
      url: https://github.com/flutterdata/flutter_data
      ref: e54a2e

dev_dependencies:
  flutter_test:
    sdk: flutter
  json_serializable: ^6.7.1
  flutter_lints: ^2.0.0
  flutter_launcher_icons: "^0.13.1"

flutter:
  uses-material-design: true

  assets:
    - assets/images/logo.png
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Light.ttf
          weight: 300
        - asset: assets/fonts/Inter-Regular.ttf
        - asset: assets/fonts/Inter-Italic.ttf
          style: italic
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700

flutter_launcher_icons:
  android: "launcher_icon"
  ios: false
  image_path: "assets/images/logo.png"
  adaptive_icon_background: "assets/images/logo-bg.png"
  adaptive_icon_foreground: "assets/images/logo-fg.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  macos:
    generate: true
    image_path: "assets/images/logo.png"